{% extends 'base.html.twig' %}

{% block title %}Inscription - E-commerce Livres Informatiques{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card">
            <div class="card-header text-center">
                <h3>📝 Créer un compte</h3>
            </div>
            <div class="card-body">
                {{ form_start(registrationForm) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(registrationForm.firstName, {
                                'attr': {'class': 'form-control'},
                                'label_attr': {'class': 'form-label'}
                            }) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(registrationForm.lastName, {
                                'attr': {'class': 'form-control'},
                                'label_attr': {'class': 'form-label'}
                            }) }}
                        </div>
                    </div>

                    {{ form_row(registrationForm.email, {
                        'attr': {'class': 'form-control'},
                        'label_attr': {'class': 'form-label'}
                    }) }}

                    {{ form_row(registrationForm.phone, {
                        'attr': {'class': 'form-control'},
                        'label_attr': {'class': 'form-label'}
                    }) }}

                    {{ form_row(registrationForm.address, {
                        'attr': {'class': 'form-control'},
                        'label_attr': {'class': 'form-label'}
                    }) }}

                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(registrationForm.city, {
                                'attr': {'class': 'form-control'},
                                'label_attr': {'class': 'form-label'}
                            }) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(registrationForm.postalCode, {
                                'attr': {'class': 'form-control'},
                                'label_attr': {'class': 'form-label'}
                            }) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(registrationForm.province, {
                                'attr': {'class': 'form-control'},
                                'label_attr': {'class': 'form-label'}
                            }) }}
                        </div>
                    </div>

                    {{ form_row(registrationForm.plainPassword.first, {
                        'attr': {'class': 'form-control'},
                        'label_attr': {'class': 'form-label'}
                    }) }}

                    {{ form_row(registrationForm.plainPassword.second, {
                        'attr': {'class': 'form-control'},
                        'label_attr': {'class': 'form-label'}
                    }) }}

                    <div class="mb-3 form-check">
                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                        {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">
                            Créer mon compte
                        </button>
                    </div>
                {{ form_end(registrationForm) }}

                <hr>

                <div class="text-center">
                    <p>Déjà un compte ?</p>
                    <a href="{{ path('app_login') }}" class="btn btn-outline-primary">
                        Se connecter
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
